<app-navbar></app-navbar>
    <div class="container">
        <div class="contact-box" style="background:rgb(75, 24, 75) ;">
                    <h2 style="color: thistle; font-size: 40px;">Contact Us</h2>
                    <div style="margin-top: 20px; margin-right: 10px;">
                   <input type="text" class="field" placeholder="your name"/>
                    <input type="text" class="field" placeholder="your Email"/>
                    <input type="text" class="field" placeholder="your Phone"/>
                    <textarea class="field" placeholder="message"></textarea>
                    <button class="btn" style="color: rgb(19, 18, 19);">Submit</button>
                    </div>
                </div>
            
        </div>

