
<app-navbar></app-navbar>
<div class="container">
    <div class="row" style="font-family:monospace;font-size:19px;color:purple;">
        <div>
            <center ><h5 style="font-family:monospace;
            font-size:30px;
            color:red;
            font-weight:bold;
            margin:15px;">About Us</h5></center>
            <p>
                <b>AutoHaven</b> is the best car research app in India to buy, sell and compare cars.
                 It gives you in-depth information, price alerts and offers about new cars, used cars. 
                 You can compare any two cars to decide which car to buy.
            </p>
            <p>
              
        Our auto-experts are always present to help you purchase new cars or bikes in India. 
        AutoHaven has launched many innovative features to ensure that users get an immersive experience of
         the car models before visiting a dealer showroom. These include a Feel The Car tool that gives 360-degree
          interior/exterior views with sounds of the car and explanations of features with videos;
         search and comparison by make, model, price, features; and live offers and promotions in all cities.  
            </p>
            <p>
                
        <b>AutoHaven Auto Community is the largest community of cars owners in India.</b><br>
         It connects with fellow enthusiasts, AutoHaven experts, vehicle owners and buyers on our platform.
           AutoHaven Auto Community helps both pre-buying and post-buying users. Join AutoHaven to interact with experts,
            ask questions and read reviews.
            </p>
        </div>
        
    
    </div>
<app-footer></app-footer>
</div>