<div class="container-fluid">
    <!-- Row 1 Navbar-->
    <div
      class="row bg-secondary sticky-top justify-content-between align-items-center"
      style="height: 75px;"
    >
      <div class="col  d-flex flex-direction-row text-light " style="font-size: 1.25rem; font-family:cursive">
        AutoHaven
      </div>

      <div class="col d-flex justify-content-end text-light mr-5">
        <div><button type="button" class="btn btn-outline-info text-light mr-5">Home</button>  </div>
        <div><button type="button" class="btn btn-outline-info text-light mr-5">Login</button>  </div>
       <div><button type="button" class="btn btn-outline-danger text-light mr-5">Logout</button> </div> 
      </div>
      
      
    </div>

   
</div>
