<div class="container-fluid">
    <!-- Row 1 Navbar-->
    <div
      class="row bg-primary sticky-top justify-content-between align-items-center"
      style="height: 60px;"
    >
      <div class="col text-light" style="font-size: 1.25rem;">
        My Project
      </div>

      <div class="col d-flex justify-content-end text-light mr-5">
        <div><button class="btn btn-dark mr-3">Login</button>  </div>
       <div><button class="btn  btn-dark">Logout</button> </div> 
      </div>
      
      
    </div>
</div>
