<div class="container-fluid">
  <div class="row bg-warning sticky-top" style="height: 65px;">
    <div class="col d-flex align-items-center" style="font-size:22px;">

     AutoHaven
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <a class="btn btn-outline-light mr-1" routerLink="/home/">Home</a>
      <a class="btn btn-outline-light mr-1" routerLink="/home/login">Login</a>
      <button class="btn btn-outline-light mr-1" (click)="processLogout()" >
        Log Out
      </button>
    </div>
  </div>

</div>