<app-navbar></app-navbar>
<div class=container>
    <div class="row ">
        <div class="col-3 bg-info m-4" style="height:200px;">
            <img src=" ./assets/1.jpg" style="height: 100%;width: 100%;object-fit: cover;" />
            <button type="button" class="btn btn-outline-secondary">show more</button>
        </div>
        <div class="col-3 bg-info m-4" style="height:200px;">
            <img src=" ./assets/2.jpg" style="height: 100%;width: 100%;object-fit: cover;" />
            <button type="button" class="btn btn-outline-secondary">show more</button>
        </div>
        <div class="col-3 bg-info m-4" style="height:200px;">
            <img src=" ./assets/4.jpg" style="height: 100%;width: 100%;object-fit: cover;" />
            <button type="button" class="btn btn-outline-secondary">show more</button>
        </div>  
    </div>
    

</div>
<app-footer></app-footer>