<app-navbar></app-navbar>
<div class=container>
    
    <div class="row  mb-2">
        
        <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/MarutiSuzukiSwift.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Maruti Suzuki Swift</h5>
                  <p class="card-text">The Maruti Suzuki Swift is currently offered with an 83PS 1.2-litre petrol engine. It can be had with either a 5-speed manual or a 5-speed AMT, which Maruti calls AGS (Auto-gear Shift). 
                    The petrol engine is a BS6-compliant unit and has a claimed efficiency of 21.21kmpl. The Swift is 3840mm long, 1520mm wide, and 1530mm tall.</p>
                  <p class="card-text"><small class="text-muted"> priced from Rs 5.19 lakh</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/3.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/3.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
         </div> 
   
    <div class="row  mb-2">
        
        <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/3.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/3.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-3" style="max-width: 740px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="./assets/3.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
         </div> 
    
         <div class="row" style="height:20%">

           <h3 style="margin-top:1rem">Our Most Famous Brands !</h3>
             <img src="assets/brands.jpeg" alt="brands" style="height:100%;width:100%;object-fit:cover;"
             />
           
         </div>
    
    <app-footer></app-footer>
</div>

